/* Contact */
@value makerPink,makerWhite,fontLarge,makerYellow ,animation-duration from "../../common/root.css";

.section {
  padding: 16px;
  text-align: center;
  margin: auto;
  background-color: makerPink;
}
.contact__title,
.contact__email,
.contact__rights {
  color: makerWhite;
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  margin: 24px;
}
.fabfagithub {
  width: 70px;
  height: 70px;
}
.fabfagithub:hover {
  transform: scale(1.1);
  color: makerYellow;
  transition: all animation-duration;
}
